@use "./variables.scss" as var;
@use "./mixins.scss" as mixin;



.bg-black {background: #000000;};
.bg-white {background: #ffffff;}

.txt-black {color: #000000;}
.txt-black-faded {color: rgba(0, 0, 0, .6);}
.txt-white {color: #ffffff;}
.txt-white-faded {color: rgba(255, 255, 255, .7);}


.fw-1 {font-weight: var.$fw-1;}
.fw-2 {font-weight: var.$fw-2;}
.fw-3 {font-weight: var.$fw-3;}
.fw-4 {font-weight: var.$fw-4;}


.uppercase {text-transform: uppercase;}




.section-heading {
    font-size: 3rem;

    @media screen and (max-width: var.$laptop) { 
        font-size: 2.6rem;
    }
    @media screen and (max-width: var.$tablet) { 
        text-wrap: balance;
    }
    @media screen and (max-width: var.$mobile) { 
        font-size: 2.2rem;
    }
}



.section-subheading {
    font-size: 2rem;

    @media screen and (max-width: var.$laptop) { 
        font-size: 1.8rem;
    }
    @media screen and (max-width: var.$tablet) { 
        text-wrap: balance;
    }
}






.body-txt {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: var.$fw-1;

    @media screen and (max-width: var.$laptop) { 
        font-size: 1.1rem;
    }
}



.mt-1 {margin-top: 1rem;}
.mb-1 {margin-bottom: 1rem;}
.mt-2 {margin-top: 2rem;}
.mb-2 {margin-bottom: 2rem;}
.mt-3 {margin-top: 3rem;}
.mb-3 {margin-bottom: 3rem;}
.mt-4 {margin-top: 4rem;}
.mb-4 {margin-bottom: 4rem;}    
.mt-6 {margin-top: 6rem;}
.mb-6 {margin-bottom: 6rem;}   
.mt-8 {margin-top: 8rem;}
.mb-8 {margin-bottom: 8rem;}   

.pt-1 {padding-top: 1rem;}
.pb-1 {padding-bottom: 1rem;}
.pt-2 {padding-top: 2rem;}
.pb-2 {padding-bottom: 2rem;}
.pt-3 {padding-top: 3rem;}
.pb-3 {padding-bottom: 3rem;}
.pt-4 {padding-top: 4rem;}
.pb-4 {padding-bottom: 4rem;}
.pt-6 {padding-top: 6rem;}
.pb-6 {padding-bottom: 6rem;}
.pt-8 {padding-top: 8rem;}
.pb-8 {padding-bottom: 8rem;}
.pt-10 {padding-top: 10rem;}
.pb-10 {padding-bottom: 10rem;}
.pt-12 {padding-top: 12rem;}
.pb-12 {padding-bottom: 12rem;}




.flex-center {display: flex;justify-content: center;align-items: center;}
.text-align-center {text-align: center;}
.flip {transform: rotate(180deg);}
.txt-balance {text-wrap: balance;}





.full-width-img {
    height: 550px;
    display: block;
    width: 100%;
    object: {
        fit: cover;
        position: center;
    }

    @media screen and (max-width: var.$mobile) { 
       height: 400px;
    }
}


.content {

    h2 {
    font-size: 2.4rem;
    font-weight: var.$fw-2;
    margin: 2.4rem 0;
    line-height: 1.4;

    @media screen and (max-width: var.$laptop) { 
        font-size: 2rem;
    }
    @media screen and (max-width: var.$mobile) { 
       font-size: 1.8rem;
    }

    &:first-of-type {
        margin-top: 0;
    }
    }

    h3 {
        font-size: 1.4rem;
        margin: 3rem 0 1rem 0;
    }

    p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (max-width: var.$laptop) { 
        font-size: 1rem;
    }
    }


    ul {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;
        font-size: 1.1rem;
        line-height: 1.6;
        margin: 3rem 0;

        @media screen and (max-width: var.$laptop) { 
        font-size: 1rem;
        }
    }

    img {
        width: 50%;
        margin: 3rem 0;

        @media screen and (max-width: var.$tablet) { 
            width: 75%;
        }
        @media screen and (max-width: var.$mobile) { 
            width: 100%;
        }
    }

    a {
        color: var.$clr-primary;
        &:hover {
            text-decoration: underline;
        }
    }
}




