@mixin full-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object: {
        fit: cover;
        position: center;
    }
}



@mixin grid($gtc, $gap) {
   display: grid;
   grid-template-columns: $gtc;
   gap: $gap;
}



@mixin flex-center($gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $gap;
}



@mixin overlay($bg-color, $opacity) {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    opacity: $opacity;
    pointer-events: none;
}